@import '~@angular/material/theming';

.choosing {
    height: 86vh;
    max-height: 86vh;
}

.choosing-card-container {
    box-sizing: border-box;
    max-height: 20vh;
    padding: 10px;
}

.choosing-card {
    height: 100%;
}

.card-grid {
    margin: min(2vw, 2vh);
    height: 86vh;
    width: min(86vh, 96vw);
}

.loading-msg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card {
    height: 100%;
}

.card-glow {
    height: 90%;
    position: relative;
}

.card-description {
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
    font-size: small;
    @media (max-width: 2000px) {
        font-size: smaller;
    }
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 1em;
    position: absolute;
    top: 0;
}

.card-image {
    height: 100%;
}

.card-loading {
    opacity: 0;
}

.card-misaligned {
    transform: rotate(180deg);
}

.card-true-match {
    @include mat-elevation(12, blue, 0.8);
}

.card-partial-match {
    @include mat-elevation(12, white, 0.8);
}

.card-opposite-match {
    @include mat-elevation(12, red, 0.8);
}

.ability-card {
    border: 12px groove white;
}

.role-card {
    border: 16px double white;
}

.description-tooltip {
    background: rgba(0,0,0,0.5);
    font-size: small;
}