<div *ngIf="showAbilities" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="chooseAbility(0)">Strength</button>
        <button mat-flat-button color="primary" (click)="chooseAbility(1)">Dexterity</button>
        <button mat-flat-button color="primary" (click)="chooseAbility(2)">Constitution</button>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="chooseAbility(3)">Intelligence</button>
        <button mat-flat-button color="primary" (click)="chooseAbility(4)">Wisdom</button>
        <button mat-flat-button color="primary" (click)="chooseAbility(5)">Charisma</button>
    </div>
</div>

<div *ngIf="showPlayerNumber" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="chooseNumber(1)">1</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(2)">2</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(3)">3</button>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="chooseNumber(4)">4</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(5)">5</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(6)">6</button>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="chooseNumber(7)">7</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(8)">8</button>
        <button mat-flat-button color="primary" (click)="chooseNumber(9)">9</button>
    </div>
</div>
